.cvLeft {
    width: 37%;
    height: auto;
    background-color: rgb(13, 14, 14);
    position: relative;
    padding-bottom: 50px;
  }
  .image {
    width: 100%;
    height: 300px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
  }
  .image h2 {
    position: absolute;
    bottom: 0;
  }
  .contacts {
    margin-top: 300px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .contact {
    width: 45%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }
  .leftIcon {
    color: teal;
    transform: scale(1.1);
  }
  span {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    color: gray;
  }
  .line {
    width: 90%;
    height: 1px;
    background-color: gray;
    margin-left: 5%;
    margin-top: 20px;
  }
  .skillsandlang {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }
  .skills {
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
  }
  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
  }
  .sTitle {
    color: gray;
  }
  .progBar {
    width: 100%;
    height: 22px;
    background-color: rgb(29, 29, 29);
    border-radius: 15px;
  }
  .s95 {
    width: 95%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }
  .s85 {
    width: 85%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }
  .s75 {
    width: 75%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }
  .s70 {
    width: 70%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }
  
  .langs {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 50px;
  }
  .lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
  }
  .l100 {
    width: 100%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }
  .l80 {
    width: 80%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }
  .l20 {
    width: 20%;
    height: 100%;
    background-color: teal;
    border-radius: 15px;
    text-align: center;
  }